{%extends 'main.html'%}
{%block title%}{{typeimage}}{%endblock%}
{%block nav%}
 <!-- START NAV -->
 <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
            <strong>Unsplash</strong>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">

         
         {%if uname%}
         <a class="navbar-item is-size-5 has-text-weight-semibold has-text-link" href="/upload">
          Upload
        </a>
         <a class="navbar-item is-size-5 has-text-weight-semibold" href="/profile">
          {{uname}}
        </a>

        <a class="navbar-item is-size-5 has-text-weight-semibold has-text-primary" href="/logout">
          Logout
        </a>
        {%else%}
        <a class="navbar-item is-size-5 has-text-weight-semibold" href="/login">
          Login
        </a>

        <a class="navbar-item is-size-5 has-text-weight-semibold has-text-primary" href="/join">
          Join for free
        </a>
        {%endif%}
          
        </div>
      </div>
      
    </div>
  </nav>
  <!-- END NAV -->
{%endblock%}
{%block body%}


<!--flex gallery-->
<div class="hero is-large is-dark typeheader" style="height: 450px;">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1 has-text-white has-text-centered">{{typeimage}}</h1>
                    <p class="subtitle is-size-4 has-text-centered" style="font-weight: 200;">Total Found {{count}}</p>
                               
                           
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<div class="grid">
   {%for i in data %}
   <div class="flexbox-item">
    <a href='/view/viewid={{i.id}}'><img src="{{i.img_url}}" alt=""></a>
    </div>
   {%endfor%}
    
</div>
{%endblock%}